* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

.disable-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-through {
  text-decoration: line-through;
}

body {
  font-family: sans-serif;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(45deg, aqua, rgb(0, 153, 153));
}

h1 {
  margin: 20px;
  color: white;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.605);
}

header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todo_wrapp {
  width: 500px;
  height: 500px;
  background-color: #ffffff50;
  backdrop-filter: blur(5px);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 80%;
  height: 70%;
  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 81, 255, 0.4);
}

.todo_name {
  width: 80%;
  height: 40px;
  border-radius: 5px;
  padding-left: 20px;
}

.add_todo {
  width: 80%;
  margin: 10px 0;
  height: 40px;
  background-color: rgba(0, 81, 255, 0.4);
  color: white;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.605);
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 5px;
}

.add_todo:hover {
  background-color: rgba(59, 121, 255, 0.39);
}

.item {
  width: 97%;
  height: 40px;
  background-color: white;
  margin: 10px 0;
  display: flex;
  align-items: center;
  padding-left: 10px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.082);
  list-style-type: none;
}

.done {
  position: absolute;
  right: 30px;
  cursor: pointer;
  transition: transform 0.5s;
}

.delete {
  position: absolute;
  right: 10px;
  cursor: pointer;
  transition: transform 0.5s;
}

.mode {
  position: absolute;
  right: 20px;
  top: 15%;
  font-size: 30px;
  cursor: pointer;
  transition: transform 0.5s;
}

.mode:hover,
.delete:hover,
.done:hover {
  transform: scale(1.3);
}

.black-bg {
  background: linear-gradient(45deg, rgb(0, 63, 63), rgb(0, 27, 27));
}
